<button class="collapsed" style="float: left; margin-bottom: 10px;">
  <div>
    <div style="float: left; margin-right: 10px; background-color: #value-color;" class="circle"></div>
    <div style="margin-bottom: 10px; font-weight: bold;">#value-details</div>
  </div>
  <div>
    #value-reduced
  </div>
  <div>...</div>
  <u style="color: blue;">View full stack trace</u>
</button>

<button class="expanded" style="float: left; margin-bottom: 10px;">
  <div>
    <div style="float: left; margin-right: 10px; background-color: #value-color;" class="circle"></div>
    <div style="margin-bottom: 10px; font-weight: bold;">#value-details</div>
  </div>
  <div>
    #value-full
  </div>
</button>